<%
  set_meta_tags(
    title:       "A Special Book For Me - Kohbo Baby Book",
    description: "An ABC book created with love."
  )
%>


<div id="book">
  <% (1..58).each do |page_number| %>
    <div id="page-<%= page_number%>">
      <div class="image-container">
        <%= image_tag("pages/book-#{page_number}.jpeg") %>
      </div>
    </div>
  <% end %>
</div>

<div class="page-button" id="next-page">Next Page</div>
<div class="page-button" id="prev-page">Previous Page</div>

